<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Board</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="mb-8">
        <h1 class="text-4xl py-8 pl-8">
        <a href="{% url 'home' %}">
                🗃️ Job Board
            </a>
        </h1>
        <hr>
        
        <div class="flex justify-between items-center px-8">
            <!-- Left side of the header -->
            <div>
                <!-- Placeholder for potential left-side content -->
            </div>
            
            <!-- Right side of the header -->
            <div>
                {% if request.user.is_authenticated %}
                    {% if user_is_applicant %}
                        <a href="{% url 'applicant_dashboard' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-4">
                            Applicant Dashboard
                        </a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="text-red-500">Logout</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container mx-auto mb-8">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>